@charset "UTF-8";
body {
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #fdc168 0%, #fb8080 90%);
}

.main {
  height: 100vh;
  display: flex;
}

.wrapper {
  margin: auto;
}

.postcard {
  background-color: #fff;
  min-height: 20em;
  color: #333;
}

.stamp-heading {
  text-align: right;
  margin: 0;
}

.stamp {
  float: right;
  width: 60px;
  height: 72px;
  display: inline-block;
  padding: 6px;
  background: white;
  position: relative;
  -webkit-filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.5));
  /*The stamp cutout will be created using crisp radial gradients*/
  background: radial-gradient(transparent 0px, transparent 4px, white 4px, white);
  /*reducing the gradient size*/
  background-size: 12px 12px;
  /*Offset to move the holes to the edge*/
  background-position: -18px -18px;
}

.stamp:after {
  content: '';
  position: absolute;
  /*We can shrink the pseudo element here to hide the shadow edges*/
  left: 5px;
  top: 5px;
  right: 5px;
  bottom: 5px;
  /*Shadow - doesn't look good because of the stamp cutout. We can still move this into another pseudo element behind the .stamp main element*/
  /*box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);*/
  /*pushing it back*/
  z-index: -1;
}

/*Some text*/
.stamp:before {
  content: '🐾';
  position: absolute;
  bottom: -10px;
  right: -10px;
  font: bold 18px arial;
  color: white;
  opacity: 0.75;
  line-height: 100%;
  padding: 20px;
  z-index: 100;
}

.stamp-image {
  width: 100%;
  height: 100%;
  background-color: #ccc;
}

.content {
  margin-top: 2.8em;
}

.content p {
  line-height: 1.2;
}

.postcard-inner {
  padding: 1em 0;
}

.photo-frame {
  overflow: hidden;
  position: relative;
}

.photo {
  -o-object-fit: contain;
     object-fit: contain;
  height: 20em;
}

.header {
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 1em;
  color: #666;
}
.header p {
  margin: 0;
}

.event-name {
  display: block;
  font-size: 1.2em;
  font-weight: normal;
  color: #474747;
  margin: 0;
}

.title-bar {
  color: #FFCC03;
  font-weight: 700;
}

.title-camp {
  color: #CC1517;
  font-weight: 400;
}

.signature {
  height: 2.4em;
  background-color: #CC1517;
  padding: 0.2em;
}

.sign-off {
  text-align: right;
  margin-bottom: 0;
}

.content p em {
  font-weight: 700;
}